{% extends 'base.html' %}

{% block content %}
{% load static %}
<br>
<br>
  
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/python-logo.png' %}" class="card-img-top" alt="python-logo">
            <div class="card-body">
              <a href="{% url 'alldevice' %}"><p class="card-text">New Devices</p></a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/python-logo.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Locations</p>
            </div>
          </div>

    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/python-logo.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">My Reported Devices</p>
            </div>
          </div>

    </div>
</div>

{% endblock content%}